# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


dummy-1.webp
dummy-2.webp
dummy-3.webp
dummy-4.webp
dummy-5.webp
dummy-6.webp
dummy-7.webp
dummy-8.webp
dummy-9.webp
dummy-10.webp

product1.webp
product2.webp
product3.webp
product4.webp
product5.webp

