# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


dummy-1.JPG
dummy-2.JPG
dummy-3.JPG
dummy-4.JPG
dummy-5.WEBP
dummy-6.WEBP
dummy-7.WEBP
dummy-8.WEBP
dummy-9.JPG
dummy-9.WEBP
dummy-10.WEBP

product1.webp
product2.webp
product3.webp
product4.webp
product5.webp

